/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    background: url(../images/backgrschblue.jpg) no-repeat center top/cover;
}

.game-area {
   /* background: url(../images/backgold.jpg) no-repeat center top/cover;*/
    background-color: rgba(255, 217, 0, 0.945);
    display: flex;
    flex-direction: column;
    max-width: 320px;
    align-self: center;
    margin-top: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-color: black; /*#FF0000;*/
    border-width: 1px;
}

.game-title h1 {

    text-align: center;
    color: /*rgba(189, 6, 6, 0.856);*/ white; /*#5cb2d6;*/ 
    font-size: 3em;
    /*text-shadow: black 0.1em 0.1em 0.2em;*/
    text-shadow: 0 0 2px #FF0000, 0 0 5px #3b3b3b;
    padding: 5px;
}

.rnd-score {
    display: flex;
    /*align-items: center;*/
    margin: 10px 10px 10px 15px;
    /*padding: 20px 10px 10px 0px;*/
    justify-content:space-between;
}

.rules-image-container {
    display: flex;
    align-items: center;
}

.rules-image {
    height: 160px;
    max-width: 310px;
    object-fit: contain;
    object-position: center;
}

.flag-image-container {
    display: flex;
    justify-content: center;
    height: 180px;
    width:310px;
}

.flag-image {
    height: 180px;
    width:280px;
    object-fit: cover;
    border: solid 1px black;
}

.flag-image:hover {
    transform: scale(1.25);
}

.flag-answers {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.answer-button {
    height: 50px;
    border-radius: 10px;
    margin: 3px 10px;
}

.answer-button:hover {
    font-size: 125%;
    transform: scale(1.02);
}

.play-control {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 5px;
    padding-top: 20px;
}

.play-button {
    height :50px;
    width: 100px;
    border-radius: 10%;
    background-color: rgb(148, 209, 56);
}
.play-button:hover {
    box-shadow: 0.3em 0.3em 0 0 grey;
    font-weight: bold;
}


.flag-rules {
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

 ul, ol {
    margin: 8px 8px 8px 24px;
    text-align: left;
  }

.flag-rules h2, h3 {
    padding-top: 5px;
    margin-left: 22px;
}

.quit-control {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px;
    padding-top: 20px;
}

.quit-button {
    height: 50px;
    width: 100px;
    border: solid 1px black;
    border-radius: 10%;
    background-color: rgba(247, 49, 49, 0.856);
    
}
.quit-button:hover {
    /*font-size: 125%;
    transform: scale(1.02);*/
    box-shadow: 0.3em 0.3em 0 0 grey;
    font-weight: bold;

}

.scores-table {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}

.scores-table th, td {
   border-style: groove;
    
}