/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(../images/bluevbackgr.jpg) no-repeat center top/cover;
}

.game-area {
    background: url(../images/backgold.jpg) no-repeat center top/cover;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-self: center;
    margin-top: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.game-title h2 {

    text-align: center;
    color: white; /*#5cb2d6;*/ 
    font-size: 3em;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.rnd-score {
    display: flex;
    align-items: center;
}

.flag-image {
    /*justify-content: center;
    align-content: center;*/
}

/* Image styles */
img {
    height: 250px;
    max-width: 300px;
    object-fit: contain;
}

.flag-answers {
    display: flex;
    flex-direction: column;
}


.answer-button {
    height: 50px;
    border-radius: 10px;
    margin: 3px 10px;
}

.play-control {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px;
}
.play-button {
    height :50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(148, 209, 56);
}

